
.header-about{
    .navbar {
        &__burger_menu{
            fill: var(--color_black);
        }
        &__menu{
            text-align: center;
        }
    }
}
.section-nameHover-about{
    padding: 0;
    .sykos-container{
        padding: 0 1rem;
        &__name svg{
            max-height: 120px;
        }
    }
}
.section-bio{
    padding: 0;
    margin: 5rem 0 5rem 0;
    background-color: var(--color_blue_30);
    &__container{
        padding: 0rem 1rem;
        color: var(--color_white);
        &__bio_text{
            padding: 2rem 0rem;
            &__header{
                color: var(--color_white);
            }
        }
        &__img1{
            margin-top: -2.5rem;
        }
    }
    &__container-double{
        padding: 2rem 1rem;
        color: var(--color_white);
        div h3{
            color: var(--color_blue_80);
        }
    }
}
.section-team{
    &__header{
        text-align: center;
    }
    &__members_container{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 3rem;
        &__SYKOS_Name{
            display: none;
        }
        &__member{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__img{
                height: 250px;
                width: 250px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 1rem;
            }
            &__name{
                margin-bottom: 0;
            }
            &__title{
                max-width: 200px;
                text-align: center;
            }
        }
    }
}
@media (min-width: 768px) {
    .header-about{
        .navbar {
            ul li a {
                color: var(--color_black);
            }
        }
    }
    .section-bio{
        &__container{
            display: grid;
            grid-template-columns: 2fr 1fr;
            max-width: 90rem;
            margin: 0 auto;
            padding: 0rem 8rem;
            gap: 2rem;
        }
        &__container-double{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 90rem;
            margin: 0 auto;
            padding: 2rem 8rem;
            gap: 2rem;
        }
    }
    .section-team{
        max-width: 80%;
        &__members_container{
            flex-wrap: wrap;
            flex-direction: unset;
            justify-content: center;
            max-width: 70rem;
            margin: 3rem auto;
            &__SYKOS_Name{
                display: block;
                position: absolute;
                rotate: -15deg;
                margin-top: 11rem;
                fill: var(--color_grey_95);
                z-index: -1;
            }
        }
    }
}
@media (max-width: 1200px) {
    .section-bio__container-double {
        grid-template-columns: 1fr;
    }
}