html {
    font-size: 125%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--family-font);
    font-style: normal;
    font-weight: 100;
    line-height: 1.75;
    color: var(--color_black);
    background: var(--color_white);
    background-color: var(--color_white);
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 1rem;
    margin: 2rem auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--family-font);
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--color_blue_30);
}

h1 {
    margin-top: 0;
    font-size: var(--heading-h1);
}

h2 {
    font-size: var(--heading-h2);
    color: var(--color_blue_30);
}

h3 {
    font-size: var(--heading-h3);
}

h4 {
    font-size: var(--heading-h4);
}

h5 {
    font-size: var(--heading-h5);
}

small,
.text_small {
    font-size: var(--body-small);
}

img {
    max-width: 100%;
}

a {
    color: var(--color_black);
    text-decoration: none;
}
a svg:hover {
    fill: var(--color_blue_50);
}

p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

li {
    list-style: none;
}
.seperator {
    display: block;
    width: 80%;
    height: 5px;
    margin: 0 auto;
    border-bottom: var(--medium-stroke) dashed var(--color_grey_55);
}
.page-title {
    margin-left: 3rem;
}
.page {
    margin: 0 5%;
    a {
        color: var(--color_blue_30);
    }
    &-hero {
        min-height: 25rem;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top; /* optional, center the image */
        &::before {
            content: ""; // ::before and ::after both require content
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10rem;
            opacity: 0.7;
            background-image: var(--gradient_shadow);
            -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }
    }
    &-post {
        margin-top: 0;
        margin-bottom: 0;
        ul {
            margin: 1rem 2rem;
            li {
                list-style: disc;
            }
        }
    }
    &__title {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}
.page-post0padding {
    padding: 0 4rem;
    margin: 1rem auto;
}
.section-abposts {
    margin-top: 0;
    gap: 3rem;
    &__post {
        &__content__cite {
            color: var(--color_blue_30);
        }
        &__content__text {
            margin-top: 1rem;
        }
    }
}
@media (min-width: 768px) {
    section {
        padding: 1rem 4rem;
    }
    .page {
        margin: 0 10%;
        &-hero {
            min-height: 16rem;
            height: 25rem;
            background-position: center top;
        }
    }
    .section-abposts {
        &__post {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "img content";
            column-gap: 2rem;
            &__img {
                grid-area: img;
                img {
                    max-height: 20rem;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        &__post:nth-child(even) {
            grid-template-areas: "content img";
        }
    }
}
.limit-page-width {
    margin: 0 auto !important;
    max-width: 1280px;
}

.section-contact {
    margin: 0;
}


// to hide cookie bar after accepted
#cookie-law-info-again{
    display: none !important;
}