html {font-size: 100%;} /*16px*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: var(--family-font);
    font-weight: 400;
    line-height: 1.75;
    color: var(--color_black);
    background: var(--color_white);
    background-color: var(--color_white);
}
section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem 1rem;
    margin: 2rem auto;
}

h1, h2, h3, h4, h5 {
    font-family: var(--family-font);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--color_blue_30);
}

h1 {
    margin-top: 0;
    font-size: var(--heading-h1);
}

h2 {
    font-size: var(--heading-h2);
    color: var(--color_blue_30);
}

h3 {
    font-size: var(--heading-h3);
}

h4 {font-size: var(--heading-h4);}

h5 {font-size: var(--heading-h5);}

small, .text_small {font-size: var(--body-small);}

img{
    max-width: 100%;
}

a{
    color: var(--color_black);
    text-decoration: none;
}
a svg:hover{
    fill: var(--color_blue_50);
}
.link{
    border-bottom: var(--medium-stroke) solid;
}
p {
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

li{
    list-style: none;
}