.page-contact {
    .page__title {
        margin: 3rem 5%;
    }
}
.section-contact {
    padding: 0rem;
    margin-bottom: 3rem;
    color: var(--color_white);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        margin: 0 auto;
        background-color: var(--color_blue_30);
        padding: 1rem 4rem;
        border-radius: 5px;
        &__message {
            margin-top: 1.9rem;
            h3 {
                color: var(--color_blue_80);
                font-size: var(--heading-h4);
            }
            p svg {
                width: 22px;
                margin-bottom: -4px;
                margin-right: 8px;
            }
        }
    }
}
form {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    gap: 0.6rem;
    label {
        margin-bottom: -0.4rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        height: 2rem;
        width: 100%;
    }
    input,
    textarea {
        border-radius: 5px;
        border: none;
        width: 100%;
    }
    input[type="submit"] {
        height: 2.5rem;
        background-color: var(--color_blue_50);
        border: none;
        border-radius: 8px;
        color: var(--color_white);
        font-size: 1rem;
        cursor: pointer;
    }
}
@media (min-width: 768px) {
    .page-contact {
        .page__title {
            margin: 1rem 10%;
        }
    }
    .section-contact__container {
        grid-template-columns: 2fr 1fr;
    }
}

.wpforms-error-container {
    max-width: 32rem;
}
